input[type=text] {
  width: 150%;
  padding: 8px 14px;
  margin: 2px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 8px;
}


input[type=email] {
  width: 150%;
  padding: 8px 14px;
  margin: 2px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 8px;
}

input[type=phone] {
  width: 150%;
  padding: 8px 14px;
  margin: 2px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 8px;
}


input[type=password]{
  width: 150%;
  padding: 8px 14px;
  margin: 2px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 8px;
}
button {
    font-size: 12px;
    margin: 2px;
    padding: 8px 14px;
}

alert{
  color: red;
}

tr{
  padding: 5px;
}

.main-div{
  margin-left: 16px;
  margin-top: 10px;
}