
<!-- 
<form [formGroup]="control" novalidate>
  <div class="container">
    <label for="Firstname"></label>
    <input type="text" name="text" placeholder="enter your Firstname" formControlName="firstname" required>
    <div *ngIf="control.controls['firstname'].invalid && (control.controls['firstname'].dirty || control.controls['firstname'].touched)" class="alert">
      <div *ngIf="control.controls['firstname'].errors"  class="errors">
      Please enter firstname
    </div>
  </div>
    <label for="Lastname"></label>
    <input type="text" name="text" placeholder="enter your Lastname" formControlName="lastname" required>
    <div *ngIf="control.controls['lastname'].invalid && (control.controls['lastname'].dirty || control.controls['lastname'].touched)" class="alert">
      <div *ngIf="control.controls['lastname'].errors"  class="errors">
      Please enter lastname
    </div>
  </div>
    <label for="Email"></label>
    <input type="text" email="text" placeholder="enter your Email" formControlName="email">
    <label for="Password"> </label>
    <input type="password" password="text" placeholder="enter your Password" minlength="6" formControlName="password">

  </div>
</form>
<button><a routerLink="userlogin">login</a></button>
<button (click)="callingFunction()">submit</button> -->

<router-outlet></router-outlet>

<!-- <p>tyy {{entries.user}}</p> -->
<!-- 
<input[(ngModel)]="email">
<strong>{{email}}</strong>
<input type="text" value="email"> -->




